<div class="col-2">
            
    <div class="sidenav d-flex flex-column p-3 text-white bg-dark pt-nav" style="width: 280px; margin-top: 115px;">

        <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4" id="newFont2">Panel Admin</span>
        </a>

        <hr>

        <ul class="nav nav-pills flex-column mb-auto">

            <li class="nav-item">
                <a href="/admin/panel" class="nav-link text-white">
                    <i class="fa-solid fa-door-open m-2" width="16" height="16"></i>Accueil
                </a>

            </li>

            <li class="nav-item">
                <a href="../profile" class="nav-link text-white">
                    <i class="fas fa-user-circle m-2" width="16" height="16"></i>Profil
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/therapists" class="nav-link text-white">
                    <i class="fa-solid fa-suitcase m-2" width="16" height="16"></i>Gestion - Thérapistes
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/rooms" class="nav-link text-white">
                    <i class="fa-solid fa-house m-2" width="16" height="16"></i>Gestion - Salles
                </a>
            </li>
            
    
        </ul>

        <hr>

        <div class="dropdown">

            <a href="#" class="d-flex align-items-center text-white text-decoration-none btn btn-secondary dropdown-toggle" role="button" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            
                <img alt="" width="32" height="32" class="rounded-circle me-2 profile_picture">
                <strong><span class="firstname"></span> <span class="lastname"></strong>

            </a>

            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

                <li><a class="dropdown-item" href="../profile">Profil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../profile">Se déconnecter</a></li>

            </ul> 

        </div>

    </div>

</div>

<script type="module" id="re_script">
    import { main } from "/js/panel.js";
    main();
</script>