<div class="container admin_container pt-nav">

  <div class="row">

    <%- include("./sidebar.ejs") %>

      <div class="col-10">

        <div class="text-center">
          <h1 class="title">Demandes (<span id="therapist_demands_count">0</span>)</h1>
        </div>

        <div class="demands-list container"></div>

        <div class="card card-white mb-5">

          <div class="card-heading clearfix border-bottom mb-4">
            <h4 class="card-title">Demande(s) d'élévation</h4>
          </div>

          <div class="card-body">
            <ul class="list-unstyled therapists_demands"></ul>
          </div>
          
        </div>
        <div class="card card-white mb-5">

          <div class="card-heading clearfix border-bottom mb-4">
            <h4 class="card-title">Thérapeutes</h4>
          </div>

          <div class="card-body">
            <ul class="list-unstyled therapists_list"></ul>
          </div>

        </div>
        <div class="card card-white mb-5">

          <div class="card-heading clearfix border-bottom mb-4">
            <h4 class="card-title">Demande(s) refusée(s)</h4>
          </div>

          <div class="card-body">
            <ul class="list-unstyled therapists_demands_refused"></ul>
          </div>

        </div>
      </div>
  </div>
</div>

<script type="module" id="re_script">
  import { main } from "/js/admin_therapists.js";
  import { main as panel } from "/js/panel.js";
  panel();
  main();
</script>