<div class="container pt-nav">

    <div class="row">

        <%- include("./sidebar.ejs") %>

        <div class="col-10">

            <div class="text-center">
                <h1 class="title">Demandes (<span id="therapist_demands_count">0</span>)</h1>
            </div>

            <div class="demands-list container"></div>

            <div class="card card-white mb-5">

                <div class="card-heading clearfix border-bottom mb-4">
                    <h4 class="card-title">Demande(s) de réservation</h4>
                </div>

                <div class="card-body">

                    <ul class="list-unstyled">

                        <li class="position-relative booking">
                            <h4 class="card-title">Demande en cours</h4>

                            <div class="media">

                                <div class="msg-img">
                                    <img class="profile_picture" alt="">
                                </div>

                                <div class="media-body">
                                    <h5 class="mb-4">John Doe<span class="badge bg-primary mx-3">En cours</span><span class="badge bg-danger">Non payé</span></h5>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Date de réservation</span>
                                        <span class="bg-light-blue">02.03.2020 - 04.03.2020</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Détails:</span>
                                        <span class="bg-light-blue">2 Adults</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Salle:</span>
                                        <span class="bg-light-blue">1</span>
                                    </div>
                                    <div class="mb-5">
                                        <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Détail de l'utilisateur:</span>
                                        <span class="border-right pr-2 mr-2">John Doe</span>
                                        <span class="border-right pr-2 mr-2"> john@example.com</span>
                                        <span>123-456-789</span>
                                    </div>
                                    <a href="#" class="btn-gray" data-bs-toggle="modal" data-bs-target="#sendMessageModal" data-bs-whatever="john@example.com">Envoyer un message</a>
                                </div>

                            </div>

                            <div class="buttons-to-right">
                                <a href="#" class="btn-gray mr-2"><i class="far fa-times-circle mr-2"></i> Rejeter</a>
                                <a href="#" class="btn-gray"><i class="far fa-check-circle mr-2"></i> Approuver</a>
                            </div>
                        </li>
    
                        <li class="position-relative booking">
                            <h4 class="card-title">Demande approuvée</h4>

                            <div class="media">

                                <div class="msg-img">
                                    <img class="profile_picture" alt="">
                                </div>

                                <div class="media-body">
                                    <h5 class="mb-4">John Doe<span class="badge bg-success ml-3">Approuvé</span></h5>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Date de réservation</span>
                                        <span class="bg-light-green">06.03.2020 - 07.03.2020</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Détails:</span>
                                        <span class="bg-light-green">2 adultes, 2 enfants</span>
                                    </div>
    
                                    <div class="mb-5">
                                        <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Détail de l'utilisateur:</span>
                                        <span class="border-right pr-2 mr-2">John Doe</span>
                                        <span class="border-right pr-2 mr-2"> test@test.com</span>
                                        <span>123-456-789</span>
                                    </div>
                                    <a href="#" class="btn-gray" data-bs-toggle="modal" data-bs-target="#sendMessageModal" data-bs-whatever="test@test.com">Envoyer un message</a>
                                </div>

                            </div>

                            <div class="buttons-to-right">
                                <a href="#" class="btn-gray mr-2"><i class="far fa-times-circle mr-2"></i>Annuler</a>
                            </div>
                        </li>
    
                        <li class="position-relative booking">
                            <h4 class="card-title">Demande annulé</h4>

                            <div class="media">

                                <div class="msg-img">
                                    <img class="profile_picture" alt="">
                                </div>

                                <div class="media-body">
                                    <h5 class="mb-4">John Doe <span class="badge bg-danger ml-3">Annulé</span></h5>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Date de réservation</span>
                                        <span class="btn-gray">20.03.2020 - 24.03.2020</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Détails:</span>
                                        <span class="btn-gray">2 adultes</span>
                                    </div>
                                    <div>
                                        <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Détail de l'utilisateur:</span>
                                        <span class="border-right pr-2 mr-2">John Doe</span>
                                        <span class="border-right pr-2 mr-2"> test@test.com</span>
                                        <span>123-456-789</span>
                                    </div>
    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="modal fade" id="sendMessageModal" tabindex="-1" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="sendMessageModalLabel">Nouveau message</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                              <label for="recipient-email" class="col-form-label">Adresse mail:</label>
                              <input type="text" class="form-control" id="recipient-email">
                            </div>
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Message:</label>
                              <textarea class="form-control" id="message-text"></textarea>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                          <button type="button" class="btn btn-primary">Envoyer le message</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" id="re_script">
    import { main } from "/js/admin_therapists.js";
    import { main as panel } from "/js/panel.js";
    panel();
    main();
</script>