<div class="container admin_container pt-nav">

    <div class="row">

        <%- include("./sidebar.ejs") %>

        <div class="col-10">

            <div class="text-center">
                <h1 class="title">Demandes (<span id="therapist_demands_count">0</span>)</h1>
            </div>

            <div class="demands-list container"></div>

            <div class="card card-white mb-5">

                <div class="card-heading clearfix border-bottom mb-4">
                    <h4 class="card-title">Demande(s) d'élévation</h4>
                </div>

                <div class="card-body">

                    <ul class="list-unstyled therapists_demands"></ul>
                </div>

                <div class="modal fade" id="sendMessageModal" tabindex="-1" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="sendMessageModalLabel">Nouveau message</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                              <label for="recipient-email" class="col-form-label">Adresse mail:</label>
                              <input type="text" class="form-control" id="recipient-email">
                            </div>
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Message:</label>
                              <textarea class="form-control" id="message-text"></textarea>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                          <button type="button" class="btn btn-primary">Envoyer le message</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" id="re_script">
    import { main } from "/js/admin_therapists.js";
    import { main as panel } from "/js/panel.js";
    panel();
    main();
</script>