<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light shadow-lg ">
        <div class="container-fluid">
            <a class="navbar-brand text-color-2 ms-5" href="/">
                <img src="/img/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler me-5" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="#one" onclick="checkPageForNavLink(); return false;">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="#two" onclick="checkPageForNavLink(); return false;">Nos locaux</a></li>
                    <li class="nav-item"><a class="nav-link" href="#four" onclick="checkPageForNavLink(); return false;">Notre histoire</a></li>
                    <li class="nav-item"><a class="nav-link" href="#four" onclick="checkPageForNavLink(); return false;">Où nous trouver</a></li>
                    <li class="nav-item"><a class="nav-link" href="#six" onclick="checkPageForNavLink(); return false;">Thérapeutes</a></li>
                </ul>
                <div class="nav navbar-nav me-5">
                    <a href="/profile" class="navbar-profile me-0">
                        <img src="/img/profile_pictures/photo-anonyme.png" alt="pp" class="profile_picture" loading="lazy">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>