<header>
    <!-- Navbar -->
    <nav class="navbar navbar-white navbar-expand-lg fixed-top navbar-light bg-light shadow-lg fixed">
        <div class="container-fluid">
            <a class="navbar-brand text-color-2 ms-5" href="/">
                <img src="/img/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler me-5" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href=""></a></li>
                </ul>
                <div class="nav navbar-nav me-2">
                    <a href="/profil" class="navbar-profil me-0">
                        <img src="/img/profile_pictures/photo-anonyme.png" alt="pp">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>