/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section rendez-vous     / */
/* ////////////////////////////////////////////////// */
#appointment {
    font-family: 'Montserrat', sans-serif;
    background-image: url("/img/home_carousel/bureau_4.jpg");
    background-size: cover;
    background-position: center;
}
#appointment::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}