
.jumbotron-fluid{

    width:100%;
    overflow:hidden;

}

.first-color {

    color: var(--color1);

}

.title {

    font-size: 3rem;
    line-height: 1.2;
    font-weight: 500;
    color: black;

}

.text-faded {

    color: var(--text_faded);

}

.btn.btn-tremplin {

    background: var(--color1);
    border-color: var(--color1);
    color: #ffffff;

}

.btn.btn-tremplin:hover {

    background: transparent;
    border-color: var(--color1);
    color: var(--color1);

}


@font-face {

    font-family: aquaticoFont;
    src: url(../fonts/Aquatico-Regular.otf);
    font-weight: bold;

}

/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 2 du site       / */
/* ////////////////////////////////////////////////// */

.two{

    background: #f8f9fa;
    min-height:100vh;    
    height:100%;
    padding-top : 5%;
    padding-bottom : 10%;
    
}

.titlesec2{

    margin-left : -20%;

}

.display-3{

    color:#fff;
    display:block;
    margin-top:30px;
    font-size : 60px;
    margin-bottom: 200px;

}

.middlebtn{

    margin-top : 20px;

}

.presentationcol1{

    margin-left : 5%;

}

.imgKeepRatio{

    object-fit: cover;

}

@media screen and (max-width: 991px) {

    .feature-half-two {
        display: none;
    }

}   

#mainTitle{
    font-family: aquaticoFont;
}




/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 3 du site       / */
/* ////////////////////////////////////////////////// */

#three{

    position: relative;
    background: rgb(0, 0, 0);
    opacity: .8;
    height: 400px;
    background-image: url("../img/home_carousel/salle_polyvalente_5.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.parallax-box {

    padding: 3rem 0;
    text-align: center;
    color : var(#000000);
    font-weight : bold;

}

.parallax-box i {

    font-size: 2.5rem;
    margin-bottom: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.bg-black {

    background: #000000;

}

@container (max-width: 800px) {

    .infos{
        
        margin-top : 50px;

    }
}

/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 4 du site       / */
/* ////////////////////////////////////////////////// */

#four{  
    background-size: cover;
    margin-right : auto;
    margin-left : auto;
    background-color: #e9fce9;
}


/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 5 du site       / */
/* ////////////////////////////////////////////////// */

#five{
    height:100%;
    min-height:100vh;  
    background-size: cover;
    margin-right : auto;
    margin-left : auto;
}

/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 5 du site       / */
/* ////////////////////////////////////////////////// */

#six{
    background-size: cover;
    margin-right : auto;
    margin-left : auto;
    background-color: #e9fce9;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {

    color: #3e4555;
}

.team4 .font-weight-medium {

    font-weight: 500;
}

.team4 h5 {

    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {

    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}

.team4 ul li a {

    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.team4 ul li a:hover {

    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
}

.therapists{
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
}