
.jumbotron-fluid{

    width:100%;
    min-height:100vh;
    overflow:hidden;

}

.first-color {

    color: var(--color1);

}


.title {

    font-size: 3rem;
    line-height: 1.2;
    font-weight: 500;
    color: black;

}

.text-faded {

    color: var(--text_faded);

}

.btn.btn-tremplin {

    background: var(--color1);
    border-color: var(--color1);
    color: #ffffff;

}

.btn.btn-tremplin:hover {

    background: transparent;
    border-color: var(--color1);
    color: var(--color1);

}


@font-face {

    font-family: aquaticoFont;
    src: url(../fonts/Aquatico-Regular.otf);
    font-weight: bold;

}

/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 2 du site       / */
/* ////////////////////////////////////////////////// */

.two{

    background: #f8f9fa;
    height: 50%;
    margin-bottom : 5%;

}

.presentationcol1{

    margin-left : 5%;

}

@media screen and (max-width: 991px) {

    .feature-half-two {
        display: none;
    }

}   

#mainTitle{
    font-family: aquaticoFont;
}



/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 3 du site       / */
/* ////////////////////////////////////////////////// */

#three{

    position: relative;
    background: rgb(0, 0, 0);
    opacity: .8;
    height: 350px;
    background-image: url("../img/home_carousel/salle_polyvalente_5.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.parallax-box {

    padding: 3rem 0;
    text-align: center;
    color : var(#000000);
    font-weight : bold;

}

.parallax-box i {

    font-size: 2.5rem;
    margin-bottom: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.bg-black {

    background: #000000;

}

@container (max-width: 800px) {

    .infos{
        
        margin-top : 50px;

    }
}

/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 4 du site       / */
/* ////////////////////////////////////////////////// */

#four{

    background-size: cover;
    margin-right : auto;
    margin-left : auto;
}

/* ////////////////////////////////////////////////// */
/* /      Stylisation de la section 5 du site       / */
/* ////////////////////////////////////////////////// */

#five{

    background-size: cover;
    margin-right : auto;
    margin-left : auto;
    background-color: #e9fce9;
}