:root {
    --color1: #9fed7d;
    --color2: #000000;
    --color3: #ffffff;
    --color4: #6c757d;
    --text_faded: #6d6d6d;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #9fed7d;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.main {
    min-height: 100%;
}

  
.container-fluid{
    margin: 0;
    padding: 0;
}

header {
    user-select: none;

    .navbar-brand {
        width: 100px;
        aspect-ratio: 1;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .navbar-profile {
        width: 50px;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 50%;
        align-self: end;
    
        img {
            width: 100%;
            height: 100%;
        }
    }

    .nav-item{
        font-size: larger !important;
        padding: 20px !important;
        color: var(--color3) !important;
    }
    .nav-item:hover {
        background: url("/img/fond.svg") no-repeat;
        background-size: 100% 100%;
    }
}

.profile_page {
    min-height: 100%;
    padding-top: 150px;
    
    > :not(:first-child) {
        display: none;
    }

    input:is([type=text], [type=tel], [type=email], [type=password]) {
        border: none;
        border-bottom: 1px solid gray;

        &:placeholder-shown {
            border-bottom: 1px dotted gray;
        }
    }

    .profile_picture:hover {
        cursor: pointer;
    }
}

span.error {
    color: red;
}

.pt-nav {
    padding-top: 150px;
}