.container-fluid{

    margin: 0;
    padding: 0;

}

header {
    user-select: none;

    .navbar-brand {
        width: 100px;
        aspect-ratio: 1;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .navbar-profile {
        width: 50px;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 50%;
        align-self: end;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.profile_page {
    min-height: 100%;
    padding-top: 150px;
    
    > :not(:first-child) {
        display: none;
    }
}

#three{

    position: relative;
    background: rgb(0, 0, 0);
    opacity: .8;
    height: 350px;
    background-image: url("../img/home_carousel/salle_polyvalente_5.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 

}

.parallax-box {

    padding: 3rem 0;
    text-align: center;
    color : var(#000000);
    font-weight : bold;

}

.parallax-box i {

    font-size: 2.5rem;
    margin-bottom: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.bg-black {

    background: #000000;

}

@media screen and (min-width: 800px) {

    .infos{
        
        margin-top : 5%;

    }
}