<!-- Page de réservation -->
<div class="section" id="booking">

    <div class="section-center">

        <div class="container">

            <div class="row">

                <div class="col-md-7 col-md-push-5">

                    <div class="booking-cta">
                        <h1 id="mainTitle">Reserver votre salle</h1>
                        <p>Bienvenue sur notre page de réservation des salles. Ici vous pouvez réserver les salles que nous vous mettons à disposition mais aussi vérifier leurs disponibilités. Lorsque la salle que vous souhaitez réserver est disponible, vous pouvez convenir une date sur le calendrier. </p>
                    </div>

                </div>

                <div class="col-md-4 col-md-pull-7">

                    <div class="booking-form">

                        <form>

                            <div class="form-group">
                                <span class="form-label">Votre nom</span>
                                <input class="form-control" type="text" placeholder="Insérez votre nom ici">
                            </div>

                            <div class="form-group">
                                <span class="form-label">Votre prénom</span>
                                <input class="form-control" type="text" placeholder="Insérez votre prénom ici">
                            </div>

                            <div class="row">

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <span class="form-label">Salle</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>

                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <span class="form-label">Adulte(s)</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>

                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <span class="form-label">Enfant(s)</span>
                                        <select class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>

                                </div>

                            </div>

                            <div class="form-btn">
                                <button class="submit-btn">Vérifier la disponibilité</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>