<!-- Page de réservation -->
<div class="section" id="booking">

    <div class="section-center">

        <div class="container">

            <div class="row">

                <div class="col"></div>

                <div class="col-8">

                    <div class="booking-cta">
                        <h1 id="mainTitle">Reserver votre salle</h1>
                        <p>Bienvenue sur notre page de réservation des salles. Ici vous pouvez réserver les salles que
                            nous vous mettons à disposition mais aussi vérifier leurs disponibilités. Lorsque la salle
                            que vous souhaitez réserver est disponible, vous pouvez convenir une date sur le calendrier.
                        </p>
                    </div>

                </div>

                <div class="col"></div>

            </div>

            <div class="row">

                <div class="col-md-4 col-md-pull-7">

                    <div class="booking-form">

                        <div class="row pb-2">
                            <div class="col-sm-6">
                                <span class="form-label">Heure</span>
                                <input class="form-control input_hour" type="time" step="900" min="07:00" max="23:00">
                            </div>
                            <div class="col-sm-6">
                                <span class="form-label">Date</span>
                                <input class="form-control input_date" id="myTime" type="date" placeholder="00:00">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-label">Récurrence</span>
                                    <select class="form-control input_reccurence">
                                        <option value="none">Aucune</option>
                                        <option value="daily">Tous les jours</option>
                                        <option value="weekly">Toute les semaines</option>
                                        <option value="monthly">Tous les mois</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <span class="form-label">Nombre de réccurences</span>
                                <input class="form-control input_number_reccurence" type="number" value="1"  min="1" step="1" pattern="\d*" oninput="this.value = this.value.replace(/[^0-9.]/g, '');">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-label">Salle</span>
                                    <select class="form-control input_room"></select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <span class="form-label">Durée</span>
                                <select class="form-control input_duration"></select>
                            </div>
                        </div>

                        <div class="row">
                            <button class="submit-btn btn" id="reservation_btn">Réserver ce créneau</button>
                        </div>

                        <div class="row">
                            <span class="error text-danger"></span>
                        </div>

                    </div>

                </div>

                <div class="col-md-8 col-md-pull-7 calendar_container">

                    <div class="booking-form">

                        <div class="text-center">

                            <span class="badge rounded-pill bg-dark m-2">Filtre:</span>

                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" type="checkbox" id="flip_filters" checked>
                                <label class="form-check-label" for="flexSwitchCheckDefault">Tous</label>
                            </div>

                            <div class="filters"></div>


                        </div>

                        <div id='calendar'></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script type="module" id="re_script">
    import { main } from '/js/booking.js';
    main();
</script>