<!-- Début du corps du site -->
<div class="mainpage mx-auto" id="one">

    <main role="main">

        <!-- Début de la "page slider" / partie 1 -->
        <div class="home-slider owl-carousel js-fullheight">

            <div class="slider-item js-fullheight" data-background-image-url="/img/home_carousel/facade_1.jpg">

                <div class="overlay"></div>

                <div class="container">

                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="text w-100 text-center">
                                <h2 data-lang="home,carousel,carousel1">Un centre d'impulsion unique</h2>
                                <h1 class="mb-3">CENTRE TREMPLIN</h1>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="slider-item js-fullheight" data-background-image-url="/img/home_carousel/salle_attente_1.jpg">

                <div class="overlay"></div>

                <div class="container">

                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="text w-100 text-center">
                                <h2 data-lang="home,carousel,carousel2">Surmonter les difficultés et les obstacles</h2>
                                <h1 class="mb-3">CENTRE TREMPLIN</h1>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="slider-item js-fullheight" data-background-image-url="/img/home_carousel/bureau_5.jpg">

                <div class="overlay"></div>

                <div class="container">

                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="text w-100 text-center">
                                <h2 data-lang="home,carousel,carousel3">Trouver des thérapeutes indépendants travaillant
                                    en équipe !</h2>
                                <h1 class="mb-3">CENTRE TREMPLIN</h1>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </main>

</div>
<!-- Fin de la "page slider" / partie 1 -->

<!-- Début de la "page" / partie 2 du site -->
<div class="jumbotron-fluid" id="two">

    <span class="display-3"></span>

    <div class="container-fluid" id="section2container">

        <div class="container justify-content-center">

            <div class="row mb-5">

                <div class="col">
                    <h6 class="first-color" id="mainTitle">Centre pluridisciplinaire</h6>
                    <h2 class="mb-3 title titlesec2 text-center" id="mainTitle">Centre Tremplin</span></h2>

                </div>

                <div class="col">
                    <p class="mt-4 text-faded">
                        Tremplin, centre d’impulsion est là pour vous aider à surmonter une difficulté, un obstacle.
                        Vous y trouverez différents thérapeutes qui, bien qu’indépendants l’un de l’autre, travaillent
                        en équipe quand c’est nécessaire.
                    </p>
                    <p class="mt-2" id="mainTitle"><a href="/appointment"
                            class="btn btn-lg btn-tremplin btn-outline-success rounded-pill middlebtn">Obtenir une
                            reservation</a></p>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="container p-4">

                <section class="">

                    <div class="row">

                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0	d-none d-sm-none d-md-block">

                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light">
                                <img src="/img/home_carousel/salle_polyvalente_1.jpg" class="w-100 h-50 imgKeepRatio"
                                    loading="lazy">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>

                        </div>

                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0	d-none d-sm-none d-md-block">

                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light">
                                <img src="/img/home_carousel/salle_polyvalente_2.jpg" class="w-100 h-50 imgKeepRatio"
                                    loading="lazy">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>

                            </div>

                        </div>

                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0	d-none d-sm-none d-md-block">

                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light">
                                <img src="/img/home_carousel/salle_polyvalente_4.jpg" class="w-100 h-50 imgKeepRatio"
                                    loading="lazy">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>

                        </div>

                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0	d-none d-sm-none d-md-block">

                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light">
                                <img src="/img/home_carousel/salle_polyvalente_5.jpg" class="w-100 h-50 imgKeepRatio"
                                    loading="lazy">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>

                        </div>

                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0	d-none d-sm-none d-md-block">

                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light">
                                <img src="/img/home_carousel/salle_polyvalente_6.jpg" class="w-100 h-50 imgKeepRatio"
                                    loading="lazy">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>

                        </div>

                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0	d-none d-sm-none d-md-block">

                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light">
                                <img src="/img/home_carousel/salle_polyvalente_7.jpg" class="w-100 h-50 imgKeepRatio"
                                    loading="lazy">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                                </a>
                            </div>

                        </div>

                    </div>

                </section>

            </div>

        </div>

    </div>

</div>
<!-- Fin de la "page slider" / partie 2 -->

<!-- Début de la "page" / partie 3 du site -->
<div class="jumbotron-fluid parallax bg-img10" id="three">

    <div class="bg-overlay bg-black opacity-7"></div>

    <div class="container infos">

        <div class="row">

            <div class="col-6 col-md-3 col-sm-6">

                <div class="parallax-box text-white">
                    <i class="fa fa-calendar fa-xl" aria-hidden="true"></i>
                    <h2 id="getallusers"> # </h2>
                    <h5>Utilisateur(s) enregistré(s)</h5>
                </div>

            </div>

            <div class="col-6 col-md-3 col-sm-6">

                <div class="parallax-box text-white">
                    <i class="fa fa-users fa-xl" aria-hidden="true"></i>
                    <h2 id="getallbooking"> # </h2>
                    <h5>Réservation(s) enregistrée(s)</h5>
                </div>

            </div>

            <div class="col-6 col-md-3 col-sm-6">

                <div class="parallax-box text-white">
                    <i class="fa-sharp fa-solid fa-house fa-xl"></i>
                    <h2 id="getallrooms"> # </h2>
                    <h5>Salle(s)</h5>
                </div>

            </div>

            <div class="col-6 col-md-3 col-sm-6">

                <div class="parallax-box text-white">
                    <i class="fa-sharp fa-solid fa-heart fa-xl"></i>
                    <h2 id="getalltherapist"> # </h2>
                    <h5>Thérapeute(s)</h5>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- Fin de la "page" / partie 3 du site -->

<div class="jumbotron-fluid" id="four">

    <div class="row mt-5 pt-5 justify-content-center" id="test">
        <div class="col-md-4 d-none d-md-block">
            <img src="/img/home_carousel/ouverture-min.jpg" class="w-100 imgKeepRatio" loading="lazy">
        </div>

        <div class="col-md-4 text-left">
            <div class="d-inline-block">
                <h1 class="first-color" id="mainTitle">Decouvrir notre histoire</h1>
                <p class="text-justify text-faded">Le projet est né il y a plusieurs années déjà. Je suis partie du
                    constat que les enfants qui ont besoin d’un suivi, ont généralement besoin de voir plusieurs
                    thérapeutes différents (logopède, neuropsy, coach scolaire, kiné, psychomotricien…) pour une prise
                    en charge globale. Si vous désirez en savoir plus sur notre histoire et notre projet, vous pouvez
                    cliquer sur le bouton ci-dessous pour en savoir davantage.</p>
                <a href="#" class="btn btn-lg btn-tremplin btn-outline-success rounded-pill middlebtn"
                    id="mainTitle">Lire notre histoire</a>
            </div>
        </div>
    </div>

    <div class="row mt-5 pt-5 justify-content-center">
        <div class="col-md-4 text-left">
            <div class="d-inline-block">
                <h1 class="first-color" id="mainTitle">Voir nos therapeutes</h1>
                <p class="text-justify text-faded">Vous désirez prendre rendez-vous avec un des nos thérapeutes,
                    contactez-le directement. Pour ce faire-référez-vous directement à la liste en cliquant sur le
                    bouton ci-dessous:</p>
                <a href="#six" class="btn btn-lg btn-tremplin btn-outline-success rounded-pill middlebtn"
                    id="mainTitle">Decouvrir la liste</a>
            </div>
        </div>

        <div class="col-md-4 d-none d-md-block">
            <img src="/img/home_carousel/bureau_5.jpg" class="w-100 h-75 imgKeepRatio" loading="lazy">
        </div>
    </div>

</div>

<div class="jumbotron-fluid" id="five">

    <h2 class="mb-5 title mt-5 text-center" id="mainTitle">Decouvrez nos locaux en video</h2>

    <div class="embed-responsive text-center">

        <video width="1080" height="760" controls preload="metadata">
            <source src="/mp4/presentation.mp4" type="video/mp4">
            Navigateur incompatible avec les flux vidéos !
        </video>


    </div>

</div>

<div class="jumbotron-fluid" id="six">

    <div class="py-5 team4">

        <div class="container">

            <div class="row justify-content-center mb-4">

                <div class="col-md-7 text-center">
                    <h2 class="mb-2 title mt-5 text-center" id="mainTitle">Nos therapeutes</h2>
                    <h5>Pour prendre rendez-vous avec un des nos thérapeutes, contactez-le directement. Pour ce
                        faire-référez-vous directement à la liste ci-dessous:</h5>
                </div>

            </div>

            <div class="row d-flex flex-wrap justify-content-evenly therapist_list"></div>
        </div>
    </div>
</div>
<!-- Fin du corps du site -->


<script type="module" id="re_script">
    import '/js/owl.carousel.min.js';
    import { main } from '/js/home.js';
    main();
    import { loadCarousel } from '/js/home.js';
    loadCarousel();
    document.querySelectorAll("[data-background-image-url]").forEach(e => {
        e.style.backgroundImage = `url('${e.dataset.backgroundImageUrl}')`
    })
</script>