<!-- Début du corps du site -->
<div class="mainpage mx-auto">

    <main role="main">

        <!-- Début de la "page slider" / partie 1 -->
        <div class="home-slider owl-carousel js-fullheight">

            <div class="slider-item js-fullheight" data-background-image-url="/img/home_carousel/facade_1.jpg">
                <div class="overlay"></div>
                <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2 data-lang="home,carousel,carousel1">Un centre d'impulsion unique</h2>
                            <h1 class="mb-3">CENTRE TREMPLIN</h1>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="slider-item js-fullheight" data-background-image-url="/img/home_carousel/salle_attente_1.jpg">
                <div class="overlay"></div>
                <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2 data-lang="home,carousel,carousel2">Surmonter les difficultés et les obstacles</h2>
                            <h1 class="mb-3">CENTRE TREMPLIN</h1>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="slider-item js-fullheight" data-background-image-url="/img/home_carousel/bureau_5.jpg">
                <div class="overlay"></div>
                <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2 data-lang="home,carousel,carousel3">Trouver des thérapeutes indépendants travaillant en équipe !</h2>
                            <h1 class="mb-3">CENTRE TREMPLIN</h1>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- Fin de la "page slider" / partie 1 -->

<!-- Début de la "page" / partie 2 du site -->
<div class="jumbotron-fluid" id="two">

    <div class="row featurette mt-5">
        <div class="col-md-6 presentationcol1">
            <h6 class="first-color" id="mainTitle">Centre pluridisciplinaire</h6>
            <h2 class="mb-3 title" id="mainTitle">Centre Tremplin</span></h2>

            <p class="mt-4 text-faded">

            Tremplin, centre d’impulsion est là pour vous aider à surmonter une difficulté, un obstacle.
            Vous y trouverez différents thérapeutes qui, bien qu’indépendants l’un de l’autre, travaillent en équipe quand c’est nécessaire.
            
            </p> 

            <p class="mt-4" id="mainTitle"><a href="" class="btn btn-lg btn-tremplin btn-outline-success rounded-pill">Obtenir une rÉservation</a>
        
            </p>

        </div>

        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto feature-half-two" src="">
        </div>
    </div>

</div>
<!-- Fin de la "page slider" / partie 2 -->

<!-- Début de la "page" / partie 3 du site -->
<div class="jumbotron-fluid parallax bg-img10" id="three">

    <div class="bg-overlay bg-black opacity-7"></div>

    <div class="container infos">

        <div class="row">

            <div class="col-6 col-md-3 col-sm-6">

                <div class="parallax-box text-white"> 
                    <i class="fa fa-calendar fa-xl" aria-hidden="true"></i>
                    <h2 id="getallusers"> # </h2>
                    <h5>Utilisateur(s) enregistré(s)</h5>
                </div>

            </div>

            <div class="col-6 col-md-3 col-sm-6">

                <div class="parallax-box text-white"> 
                    <i class="fa fa-users fa-xl" aria-hidden="true"></i>
                    <h2 id="getallbooking"> # </h2>
                    <h5>Réservation(s) enregistrée(s)</h5>
                </div>

            </div>

            <div class="col-6 col-md-3 col-sm-6">

                <div class="parallax-box text-white"> 
                    <i class="fa-sharp fa-solid fa-house fa-xl"></i>
                    <h2 id="getallrooms"> # </h2>
                    <h5>Salle(s) disponible(s)</h5>
                </div>

            </div>

            <div class="col-6 col-md-3 col-sm-6">

                <div class="parallax-box text-white"> 
                    <i class="fa-sharp fa-solid fa-heart fa-xl"></i>
                    <h2> # </h2>
                    <h5>Thérapeute(s) disponible(s)</h5>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- Fin de la "page" / partie 3 du site -->

<div class="jumbotron-fluid" id="four">
    
</div>

<div class="jumbotron-fluid" id="five">
    
</div>
<!-- Fin du corps du site -->
<script type="module" id="re_script">
    import '/js/owl.carousel.min.js';
    import {loadCarousel} from '/js/home.js';
    loadCarousel();
    document.querySelectorAll("[data-background-image-url]").forEach(e => {
        e.style.backgroundImage = `url('${e.dataset.backgroundImageUrl}')`
    })
</script>